a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: blue;
}

a:active {
	color: gray;
}

h1 {
	margin-top: 0;
}

h2 {
	text-decoration: underline;
}

#title {
	text-decoration: underline; 
}

.container {
	margin: 60px 60px 10px 60px;
	padding: 10px;
	background-color:#00CCFF;
	width: 495px;
	height: 200px;
	border-radius: 15px;
}

.links {
	margin-right: auto;
	display: inline-block;
	background-color: white;
	width: 245px;
	height: 200px;
}

.articles {
	display: inline-block;
	background-color: white;
	border: solid 1px;
	margin:  15px;
	padding: 25px;
	width: 245px;
	height: 200px;
}

.article-box {
	width: 660px;
	height: 570px;
	border: solid 1px;
	border-radius: 10px;
	margin-top: 10px;
}

.blue {
	background: #00CCFF;
}


